<section class="flex w-dvw flex-col items-center h-dvh justify-center gap-7">
  <h1 class="uppercase text-center text-7xl font-bold mt-2">
    System Digital Creations
  </h1>
  <p class="px-60 text-center text-base mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
    ducimus. Ut delectus voluptates culpa amet quis minima sapiente. Expedita
    dolores sed nostrum laboriosam magni qui omnis facere doloribus eligendi
    aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla in,
    accusantium maiores assumenda voluptatibus tempore? Quo pariatur magnam
    excepturi sunt in quidem error. Dolorem inventore corrupti animi quo, neque
    tempore!
  </p>
  <a
    href="#"
    class="uppercase px-8 py-3 text-white bg-[#2b1055] hover:text-[#2b1055] hover:bg-white transition hover:scale-105"
    >Ver más</a
  >
</section>

<style>
  section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(assets/wallpaper1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
